<div class="row">
  <div class="span6 offset3">   
    <%= form_for(@trip) do |f| %>
    
     <%= render 'shared/error_messages', object: f.object %>

      <div class="field">
        <%= f.label :departure %><br>
        <%= f.text_field :departure, placeholder: "Departure" %>
      </div>
      <div class="field">
        <%= f.label :destination %><br>
        <%= f.text_field :destination, placeholder: "Destination" %>
      </div>
      <div class="field">
        <%= f.label :leaving_time %><br>
        <%= f.text_field :leaving_time, placeholder: "Date and Time"%>
        <span class="add-on datepicker ">
          <i  data-date-icon="icon-calendar">
          <i data-time-icon="icon-time" >
        </span>
      </div>
      <div class="field">
        <%= f.label :capacity %><br>
        <%= f.text_field :capacity, placeholder: "Capacity" %>
      </div>
      <div class="field">
        <%= f.label :price %><br>
        <%= f.text_field :price, placeholder: "Price" %>円
      </div>
      <div class="field">
        <%= f.label :purpose %><br>
        <%= f.text_field :purpose, placeholder: "what is your purpose?" %>
      </div>
      <div class="actions">
        <%= f.submit "登録", class: "btn btn-large btn-primary" %>
      </div>
    <% end %>
　</div>
</div>



                 
              
