<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-icon">
                     <!-- <figure> -->
                         <%= profile_image_for @trip.driver.user, size: '300x300', class: "img-circle" %>
                <!-- <img class="img-circle img-responsive" alt="" src="http://placehold.it/300x300"> -->
                      <!-- </figure> -->
                    <!-- <span class="fa fa-4x fa-html5"></span> -->
                </div>
                <div class="info2">
                    <!-- <div> -->
                       <!--  <h4 class="text-center">Title</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo nulla dolore necessitatibus doloremque exercitationem sequi dolorem architecto perferendis quas aperiam debitis dolor soluta!</p><br>
                        <a href="" class="btn">BOOK to This USER</a>
 -->
                    <!-- </div> -->
                     <!-- <div class="bs-callout bs-callout-danger">
                            <h4>About Driver</h4>
                        <table class="table table-striped table-responsive ">
                              <thead>
                                <tr><th>Date of Issue</th>
                                <th>When to get License</th></tr>
                              </thead>
                              <tbody>
                                <tr> -->
                                 <!--  <td><%#= @trip.driver.time_get_license %></td>
                                  <td><%#= @trip.driver.license_history %></td> -->
                                  <!-- <td> 3.50 </td> -->
                                <!-- </tr>

                              </tbody>
                        </table>
                      </div> -->


                      <div class="bs-callout bs-callout-danger">
                            <h4>About Trip</h4>
                        <table class="table table-striped table-responsive ">
                              <thead>
                                <tr>
                                <th>Time</th>
                                <th>Root</th>
                                <th>Capacity</th>
                                <th>Price </th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td><%= @trip.leaving_time %></td>
                                  <td><%= @trip.departure %> >>>> <%= @trip.destination %></td>
                                  <td><%= @trip.capacity %></td>
                                  <td><%= @trip.price %></td>
                                </tr>
                                

                                

                              </tbody>
                        </table>
                      </div>




                         <br>
                       <!-- <a href="" class="btn11">BOOK to This USER</a> -->
                   
                        <% if current_user != @trip.driver.user %>
                                <%= link_to book_trip_path(@trip), class: "btn11", method: :get do %>
                                          BOOk to <%= @trip.driver.user.name %>
                                  <% end %>
                        <% else %>
                                <%= link_to root_url, class: "btn13" do %>
                                          HOME 
                                <% end %>
                        <% end %>
                </div>
                <br>
            </div>
        </div>
  </div>
</div>
<br><br><br>
