
<h1> You are almost done!!  </h1>
<!-- <h2> Just Hit the Button below to complete.  </h2> -->

<table border="1">
  <tr>
    <th>profile_image</th><th>car_image</th><th>Departure</th><th>Destination</th><th>leaving_time</th><th>Capacity</th><th>Price</th><th>message</th>
  </tr>

  <tr>
    <td><%= link_to profile_image_for(@trip.driver.user), @trip.driver.user  %></td>
    <td><%= profile_car_image_for @trip.driver %></td>
    <td><%= @trip.departure %></td>
    <td><%= @trip.destination %></td>
    <td><%= @trip.leaving_time %></td>
    <td><%= @trip.capacity %></td>
    <td><%= @trip.price %></td>
    <td><%= link_to 'message', driver_trip_path(@trip) %> <!--confirmする-->
    </td>
  </tr>
</table>

<h2>Are you sure you want to complete this Book request?</h2>

<%= link_to "BOOK!", book_trip_path(@trip), class: "btn btn-large btn-primary" %>

<%= form_tag({controller: "trips", action: "purchase"}, method: "post")  do %>
<script src="https://checkout.webpay.jp/v1/" class="webpay-button" data-key="test_public_5YFbMC1cpfub4l74zIfF2csl" data-lang="ja"></script>
<% end %>







<!-- <!DOCTYPE html> --> 
<!-- <html lang="en"> -->
<!-- <head> -->
<!-- <title>Example of Twitter Bootstrap 3 Modals</title>
 --><!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"> -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/<! css/bootstrap-theme.min.css"> --> 
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> -->
<style type="text/css">
    .bs-example{
      margin: 20px;
    }
</style>
<!-- </head> -->
<!-- <body> -->
<div class="bs-example">
    <!-- Button HTML (to Trigger Modal) -->
    <a href="#myModal" class="btn btn-lg btn-primary" data-toggle="modal">Launch Demo Modal</a>
    
    <!-- Modal HTML -->
    <div id="myModal" class="modal fade">
        <!-- <div class="modal-dialog"> -->
           
                <!-- <div class="modal-header">

                   
                </div> -->


                <!-- <div class="modal-body"> -->
                   <!--  <p>Do you want to save changes you made to document before closing?</p>
                    <p class="text-warning"><small>If you don't save, your changes will be lost.</small></p> -->
                  
  <!-- <div class="container"> -->

  <div id="login-form">

<br>
<fieldset>
  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>
    <h3>Login</h3>

    <%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    

      <!-- <form action="javascript:void(0);" method="get"> -->
      

        <!-- <input type="email" required value="Email" onBlur="if(this.value=='')this.value='Email'" onFocus="if(this.value=='Email')this.value='' "> --> <!-- JS because of IE support; better: placeholder="Email" -->
    
        <%#= f.email_field :email, autofocus: true, placeholder: "email" %>
  
     <!-- placeholder="&#xF002; Search" -->


        <%###= f.password_field :password, autocomplete: "off", placeholder: "password" %>
    
        <!-- <input type="submit" value="Login"> -->
        <%#= f.submit "Log in" %>
        
        <footer class="clearfix">

          <p><span class="info">?</span><a href="#">Forgot Password</a></p>

        </footer>

      <!-- </form> -->
        

  </fieldset>
  </div> <!-- end login-form -->

<!-- </div> -->






                <!-- </div> -->
               <!--  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div> -->
            <!-- </div> -->
        <!-- </div> -->
    <!-- </div> -->
</div>     
<!-- </body> -->
</html>     






















































































