
<h1> You are almost done!!  </h1>
<!-- <h2> Just Hit the Button below to complete.  </h2> -->

<table border="1">
  <tr>
    <th>profile_image</th><th>car_image</th><th>Departure</th><th>Destination</th><th>leaving_time</th><th>Capacity</th><th>Price</th><th>message</th>
  </tr>

  <tr>
    <td><%= link_to profile_image_for(@trip.driver.user), @trip.driver.user  %></td>
    <td><%= profile_car_image_for @trip.driver %></td>
    <td><%= @trip.departure %></td>
    <td><%= @trip.destination %></td>
    <td><%= @trip.leaving_time %></td>
    <td><%= @trip.capacity %></td>
    <td><%= @trip.price %></td>
    <td><%= link_to sending_user_path(current_user.id), class: "btn" do %>
      <i class="fa fa-message"></i>
      <% end %>
    </td>
  </tr>
</table>

<h2>Are you sure you want to complete this Book request?</h2>

<%= link_to "BOOK!", book_trip_path(@trip), class: "btn btn-large btn-primary" %>

<%= form_tag({controller: "trips", action: "purchase"}, method: "post")  do %>
<script src="https://checkout.webpay.jp/v1/" class="webpay-button" data-key="test_public_5YFbMC1cpfub4l74zIfF2csl" data-lang="ja"></script>
<% end %>


<!-- form_tag({controller: "people", action: "search"}, method: "get", class: "nifty_form") -->

<%#= form_tag("/hoge", method: "get", id: "hoge_id", name: "hoge_name", class: "hoge_class") do %>
  <!-- formの中身 -->
<%# end %>

<%#= link_to 'Edit', edit_book_path(@book) %>
<%#= link_to 'Back', books_path %>
