<h1> Check the Trip you selected! </h1>
<table border="1">
  <tr>
    <th>profile_image</th><th>car_image</th><th>Departure</th><th>Destination</th><th>leaving_time</th><th>Capacity</th><th>Price</th><th>Book</th>
  </tr>
<% @trip %>
  <tr>
    <td><%= link_to profile_image_for(@trip.driver.user), @trip.driver.user  %></td>
    <td><%= profile_car_image_for @trip.driver %></td>
  	<td><%= @trip.departure %></td>
    <td><%= @trip.destination %></td>
    <td><%= @trip.leaving_time %></td>
    <td><%= @trip.capacity %></td>
    <td><%= @trip.price %></td>
    <td><%= link_to trip_path(@trip), class: "btn ", method: :get do %>
      <i class="fa fa-ticket"></i>
      <% end %>
    </td>
  </tr>
</table>


  <div class="span8">
    <% if @trip.driver.reviews.any? %>
      <h3>Reviews</h3>
      <ol class="microposts">
        <%= render @reviews %>
      </ol>
      <%= will_paginate @reviews %>
    <% end %>
  </div>



