<div class="row sample">
  <aside class="span4">
    <section>
      <%= render 'shared/user_info' %>
    </section>
  </aside>
 

  <% if !@user.driver == nil && !@user.driver.trips.each {|t| [t.departure]} == nil %>
    <!-- {|u| [u.body_part]} -->
    <!-- ココカラ -->
    <%= render 'shared/trips_collections' %>
       <!-- ココまではパーシャルで、呼び出せるようにする。ドロップダウンからの表示。 -->
  <% end %>
</div>


<div class="sample">
<% unless @user == current_user %>
<%= render 'shared/review_form' %>
<% end %>
</div>

<%#= @feed_reviews.each do |feed_review| %>
<!-- <p><%#= feed_review %></p> -->
<!-- <#% end %> -->



<div class="sample">
  <div class="span8">
    <% if @user.driver.reviews.any? %>
      <h3>Reviews</h3>
      <ol class="microposts">
        <%= render @reviews %>
      </ol>
      <%= will_paginate @reviews %>
    <% end %>
  </div>
</div>














<br>
<%= link_to 'Back', users_path %>
