<table border="1">
    <tr>
      <th>car_image</th><th>Departure</th><th>Destination</th><th>leaving_time</th><th>Capacity</th><th>Price</th>
    </tr>


<% @trips.each do |trip| %>
        <tr>
          <td><%= link_to profile_car_image_for(trip.driver), book_user_path  %></td>
          <td><%= trip.departure %></td>
          <td><%= trip.destination %></td>
          <td><%= trip.leaving_time %></td>
          <td><%= trip.capacity %></td>
          <td><%= trip.price %></td>
          <td><%= trip.purpose %></td>
        </tr>
        <h2>You got a trip request From<%= @user.name %> !! YAY :)</h2>
      <% end %>

</table>