<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user_profile.name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @user_profile.birthday %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_profile.user_id %>
</p>

<p>
  <strong>Image:</strong>
  <%= @user_profile.image %>
</p>

<%= link_to 'Edit', edit_user_profile_path(@user_profile) %> |
<%= link_to 'Back', user_profiles_path %>
