<h1>
  <%= profile_image_for @user_profile %>
  <%= @user_profile.name %>
　　<strong>Birthday:</strong>
  <%= @user_profile.birthday %>
</p>
</h1>

<%= link_to 'Edit', edit_user_profile_path(@user_profile) %> |
<%= link_to 'Back', user_profile_path %>

