<div class="row">
  <div class="span6 offset3">   
    <%= form_for(@driver, :url => drivers_path) do |f| %>
    
     <%= render 'shared/error_messages', object: f.object %>

      <div class="field">
        <%= f.label :car_image %><br>
        <%= f.file_field :car_image %>
      </div>
      <div class="field">
        <%= f.label :license_history %><br>
        <%= f.text_field :license_history %>
      </div>
      <div class="actions">
        <%= f.submit "登録", class: "btn btn-large btn-primary" %>
      </div>
    <% end %>
　</div>
</div>
