<div class="row">
 <div class="span6 offset3">   
    <%= form_for(@driver) do |f| %>
    
     <%= render 'shared/error_messages', object: f.object %>

      <div class="field">
        <%= f.label :car_image %><br>
        <%= f.file_field :car_image %>
      </div>
      <div class="field">
        <%= f.label :Date_of_Issue %><br>
        <%= f.text_field :time_get_license %>
      </div>
      <div class="field">
        <%= f.label :license_history %><br>
        <%= f.select :license_history, ["~1年", "1年〜3年", "4年〜5年", "6年〜10年", "11年〜"], {}, class: ".select-box" %>
      </div>
      <div class="actions">
        <%= f.submit "続行", class: "btn btn-large btn-primary" %>
      </div>
    <% end %>
 </div>
</div>
